.pb10 {
  padding-bottom: 10px;
}

.schedwrapper {
  border: 1px solid #000;
  display: block;
}

.schedlabel {
  background-color: gray;
  padding: 5px;
  color: azure;
}

.schedradiogrp {
  padding: 5px;
}
